*{
  margin: 0px;
  padding: 0px;
  
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
  background-color: black;
}

        /* NAVBER START HERE */

nav{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgb(184, 8, 8); */
  align-items: center;
  margin: auto 180px;
  margin-top: 30px;
  height: 45px;
  max-width: 1400%;
  
  
}
nav li{
  list-style-type: none;
  margin: 8px 60px 8px 0px;
  font-size: 18px;
}
.li-items{
  display: flex;
  border: 1px solid rgba(126, 122, 122, 0.329);
  border-radius: 40px;
  align-items: center;
  color:#FFFFFF;
  height: 45px;
}
.home{
  background-color: #E6533C;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: bold;
}
p{
  color:#E6533C;
  font-weight: 850;
  font-style: italic;
  font-size: 36px;
}
.hamberger{
  color: aqua;
  display: none;
}
@media screen and (max-width:576px){
  .li-items{
    display: none;
  }
  .hamberger{
    display: block;
    color: white;
  }
  nav{
    margin: auto 20px;
  }
  }

        /* NAVBER END HERE */
  
