*{
  margin: 0px;
  padding: 0px;
  /* border:1px solid red; */
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
  background-color: black;
  /* border: 2px dashed green; */
}

        /* NAVBER START HERE */

nav{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgb(184, 8, 8); */
  align-items: center;
  margin: auto 240px;
  margin-top: 30px;
  height: 45px;
  max-width: 1400%;
  
  
}
nav li{
  list-style-type: none;
  margin: 8px 60px 8px 0px;
  font-size: 18px;
}
.li-items{
  display: flex;
  border: 1px solid rgba(126, 122, 122, 0.329);
  border-radius: 40px;
  align-items: center;
  color:#FFFFFF;
  height: 45px;
}
.home{
  background-color: #E6533C;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: bold;
}
.fitness{
  color:#E6533C;
  font-weight: 850;
  font-style: italic;
  font-size: 36px;
}
.hamberger{
  color: aqua;
  display: none;
}
@media screen and (max-width:576px){
  .li-items{
    display: none;
  }
  .hamberger{
    display: block;
    color: white;
    font-size: 35px;
    margin-right: 140px;
  }
  nav{
    margin: auto ;
    margin-top: 30px;
    width: 550px;
    }
  }

    /* NAVBER END HERE */

    /* HEADER SECTION START HERE */
    .header-main-div{
      display: flex;
      justify-content: space-between;
      position: relative;
    }
   .header{
    /* border: 3px solid red; */
    max-width: 1400%;
    margin: auto 240px;
    height: 615px;
    margin-top: 40px;
   }
  .header-text{
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 900;
  }
  .header-text2{
    color: #ffffff54;
    margin: 15px 0px;

  }
  .header-button1{
    background-color: #E6533C;
    padding: 15px;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    width: 200px;
    margin: 30px 0px;
  }
  .header-button2{
    background-color: #e6533c00;
    padding: 15px;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    width: 200px;
    margin: 30px 0px 10px 30px;
    border:1px solid white;
  }
  .Header-image{
    width: 349px;
    height: 581px;
    margin-right: 150px;
  }
  .text-button{
    margin-top: 40px;
   
    width: 600px;
    height: 440px;
  }
  .flaoting-div1{
    background-color: hsla(0, 0%, 100%, 0.384);
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 550px;
    left: 1100px;
  }
  .flaoting-div1 h2{
    font-size: 30px;
    font-weight: bolder;
    color: #FFFFFF;
  }
  .flaoting-div1 h3{
    color: #ffffff86;
  }
  .flaoting-div1 i{
    color:#E6533C;
    font-size: 35px;
    
  }
  .flaoting-div2{
    width: 160px;
    height: 60px;
    background-color:hsla(0, 0%, 100%, 0.384);
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    position: absolute;
    top: 300px;
    left: 1400px;
  }
  .flaoting-div2 h2{
    font-size: 28px;
    color: #FFFFFF
  }
  .flaoting-div2 h3{
    font-size: 15px;
    color:#ffffff86;
  }

.main-text{
    text-align: center;
    /* border: 1px solid red; */
    margin: auto;
    
  }
.main-para1{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.main-para2{
  color: #ffffff54;
  font-size: 15px;
}
.main-div{
  margin-top: 80px;
}
/* .main-text{
  width: 300px;
} */
.main-div2{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
/* .img-text-ph{
  border: 1px solid red;
} */
.img-text-ph img{
  border-radius: 50%;
  width: 120%;
}
.main-text-img{
  margin-top: 20px;
  
}
.main-text-img h2{
  color: #FFFFFF;
  text-align: center;
}
.main-text-img p{
  color: #ffffff54;
  text-align: center;
}





  @media screen and (max-width:576px){
    .header-main-div{
      flex-direction: column;
      
    }
    .header{
      margin: auto 25px;
      /* padding: 0px; */
      /* position: relative; */
     }
     .header-text{
      font-size:50px;
     }
     .header-text2{
      font-size: 13px;
     }
     .header-button1{
      background-color: #E6533C;
      padding: 18px;
      color: #FFFFFF;
      font-size: 15px;
      border-radius: 25px;
      border: none;
      width: 150px;
      margin: 30px 0px;
     }
     .header-button2{
      background-color: #e6533c00;
      padding: 18px;
      color: #FFFFFF;
      font-size: 15px;
      border-radius: 25px;
      border: none;
      width: 150px;
      margin: 30px 0px 10px 30px;
      border:1px solid white;
    }

    .flaoting-div1{
      position: absolute;
      top:780px;
      left: 20px;
     }
     .flaoting-div1 h2{
      font-size: 20px;
     }
     .flaoting-div1 h3{
      font-size: 15px;
     }
     .flaoting-div2{
      position: absolute;
      top:600px;
      left: 220px;
     }
     .flaoting-div2 h2{
      font-size: 20px;
     }
     .flaoting-div2 h3{
      font-size: 13px;
     }
     .main-div2{
      flex-direction: column;
     }
     .img-text-ph{
        max-width: 350px;
        text-align: center;
     }
     .img-text-ph img{
      width:50%;
      margin-top: 10px;
     }
    .main-para1{
      font-size: 30px;
      font-weight: bold;
      
    }
    .main-para2{
      font-size: 14px;
    }
    .main-text{
      width:400px;
      margin:0px
    }

  }
     
    
    
  
  
